{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Langues</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href={% static "assets/images/logo/favicon2.png" %}>

    <!-- CSS Files -->
    <link rel="stylesheet" href={% static "assets/css/animate-3.7.0.css" %}>
    <link rel="stylesheet" href={% static "assets/css/font-awesome-4.7.0.min.css" %}>
    <link rel="stylesheet" href={% static "assets/css/bootstrap-4.1.3.min.css" %}>
    <link rel="stylesheet" href={% static "assets/css/owl-carousel.min.css" %}>
    <link rel="stylesheet" href={% static "assets/css/jquery.datetimepicker.min.css" %}>
    <link rel="stylesheet" href={% static "assets/css/style.css" %}>
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area header-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src={% static "assets/images/logo/logo4.png" %} alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu main-menu2">
                        <ul>
                            <li class="active"><a href="/">Accueil</a></li>
                            <li><a href="/about">A propos</a></li>
                            <li><a href="/menu">Langues</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 menu-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i>Langues disponibles</i></h1>
                    <p class="pt-2"><i>Le culturalisme est différent de l'autarcie.</i></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Food Area starts -->
    <section class="food-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-top">
                        <h3><span class="style-change">Nous traduisons</span> <br>les langues suivantes</h3>
                        <p class="pt-3">La traduction peut se faire d'une langue à une autre sans restriction juste en choisissant la langue d'origine et la langue de traduction.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-food">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Français</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">Afin que tu reconnaisses la certitude des enseignements que tu as reçus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5 mt-sm-0">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Anglais</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">That thou mightest know the certainty of those things, wherein thou hast been instructed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5 mt-md-0">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Fulfulde Adamaoua</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">Mi waɗi ɗum ngam haa a faama hoolɗinaare ekkitinolji ɗi keɓɗa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Tupurri</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">Ndi joñ do sen, maga ndo mo fer ko cwaçy hadge maga ndo hay had ra go mono.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Guiziga</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">ɓa ki si na gwat taŋ mudubunukuw di na, naŋ jeŋŋe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Fulfulde DC</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">Mi waɗi ɗum ngam haa a faama hoolɗinaare ekkitinolji ɗi keɓɗa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="food-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-food">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Bibalda Ta Peldatta</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">kay naŋ ma wi gasita vi hatta ta naŋ hata'ta goy haraŋi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5 mt-sm-0">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Bulu</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">ndembene wo ye bo nguleya buni miñyeʼelan ô nga nyoñ.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5 mt-md-0">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Ghomala</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">tə o nə jyə́ nyənyɔ nə mnwə myə pu siŋ o gɑ o zhyə a.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Ngiemboon</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">cha catseiꞌno̱ⁿꞌ na mayuuꞌ ñꞌoom na jnda̱ tꞌmo̱o̱ⁿ nnꞌaⁿ njomꞌ.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Kapsiki DC</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">Ma nda menete 'ya kala nyagha ne, kezha ɗepe na kaganda ghena nya tekete ŋa mbeli.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5">
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>Kalata Dc Gbaya</h5>
                                <span class="style-change">Africa</span>
                            </div>
                            <p class="pt-3">wen h’ɛ́nɛ́ mɛ iŋ‘e ndé, usamɔ n’ɛnɛ kpaa'i nɛ́ kpasamɔ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Food Area End -->
        <!-- Testimonial Area Starts -->
    <section class="testimonial-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top2 text-center">
                        <h3>Suite des <span>langues</span></h3>
                        <p><i>Pouvoir s'exprimer est un droit pour tous.</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-slider owl-carousel">
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Bafia</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">lɛ di fɔlɔɔ nnɛ u yi saaɗ ànɛ ɓi mɛ̀rèsàg mɛ ù tekà.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Dii</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">moo i gaa moo ku̵u̵ tú'ud ví yȩ, ba moo yȩ́ńne.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Ejaham</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">Ń woma bəre ó mə́ŋe se iyîm chénchén mbi á kpíi wâ í rî ka echî.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Vute</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">Mɨ ndɨŋ u̧ àm wu a ɗə̀ə̀ŋmèɓà ɨnayâna tɔ̀ɔ́ wu ya ók lè àmɨɨr á na á.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Limbum</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">tá aè bo rïìñ ená buu ce a yá'ni wáè vi yu mini ghup.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Mofa</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">a ka da suna, skwi man ta senda ka, a ngu arsa a vava.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Mofu Gudur</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">Kəɗey tok na, kah ka sərafa kah ka ndzafawa me tetəkey na hayna hay ba dərka na.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Doyago</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">an mɔ mɛks hingok wɔ mɔ dag rɔbɔ lɛlɛ.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Guidar</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">Nəɗɗa na vi kəsən gən gesiŋ an məs mərbanəŋka də an məs kəpprəmə.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Samba Loko</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">Mə́ bád in aarə, bɔ̀b ìì gàb vɛ́nà insánke aa íí kè'à rə bìá.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Mkpaman Amvoe Ewondo</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">asu yë na oyëm na e mam ongayègè mënë etere.</p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-text">
                                <h5>Kalata Ko sc Gbaya</h5>
                                <span><i>Africa</i></span>
                                <p class="pt-3">wen h’ɛ́nɛ́ mɛ iŋ‘e ndé, usamɔ n’ɛnɛ kpaa'i nɛ́ kpasamɔ.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Footer Area Starts -->
    <footer class="footer-area">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright 2020 All rights reserved | This is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/about" target="_blank">KOUAM && NANDA && TIKENG</a></span>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li class="no-margin">Follow Us</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src={% static "assets/js/vendor/jquery-2.2.4.min.js" %}></script>
	<script src={% static "assets/js/vendor/bootstrap-4.1.3.min.js" %}></script>
    <script src={% static "assets/js/vendor/wow.min.js" %}></script>
    <script src={% static "assets/js/vendor/owl-carousel.min.js" %}></script>
    <script src={% static "assets/js/vendor/jquery.datetimepicker.full.min.js" %}></script>
    <script src={% static "assets/js/vendor/jquery.nice-select.min.js" %}></script>
    <script src={% static "assets/js/vendor/traduction.js" %}></script>
    <script src={% static "assets/js/main.js" %}></script>
</body>
</html>
